---
title: Rochester Python Meetup
---

/ Band (Image Right with Text)
.row
  .eight.columns
    %h4 Rochester Python User Group
    .row
      .six.columns
        %p
          RocPy is Rochester's finest (and only) Python user group. We strive
          to get work done in Python. We're here to give others the opportunity
          to meet and work with other Python developers/enthusiasts.
      .six.columns
        %p
          We meet monthly, and our schedule can be found on
          %a{:href => "http://meetup.com/Rochester-Python-Meetup/"} Meetup.
          Presentations typically last 45-60 minutes and are followed by some
          discussion.

        %p
          We eventually plan to also hold lightning talks before or after
          meetings so people can give talks in less depth.

  .four.columns
    %img{:src => "http://placehold.it/400x300&text=[img]"}/
/ Band (Image Left with Text)
.row
  .four.columns
    %img{:src => "http://placehold.it/400x300&text=[img]"}/
  .eight.columns
    %h4 Joining
    %p
      Joining is simple, just follow the "Meetup" link at the bottom of this
      page and RSVP to our next meetup.
    %p
      New faces are always welcome, both in the audience and on the podium. If
      you have an idea for a presentation show up at a meeting and let us know
      you'd like to present. We'll find a free presentation slot and you can
      start preparing your slides.
