---
title: About Us
---

.row
  .twelve.columns
    %h4 Who We Are
    .row
      .six.columns
        %p
          We are a group of tinkerers who use Python at work or at play, and
          take the meetup as an opportuniy to share the tidbits we come by in
          our daily lives.
      .six.columns
        %p
          Find us on 
          %a{:href => "http://meetup.com/Rochester-Python-Meetup/"}Meetup.
          New faces are always welcome.

