---
title: What We Do
---

.row
  .eight.columns
    %p Meetings are on the third Tuesday of every month, and typically are a 45-minute presentation by a member followed by discussion and demos. 
  .four.columns
    %p
      Following a meeting, we typically have a workshop the following Saturday on the same topic.
.row
  .four.columns
    %p Workshops are more free-form discussions and tends to be somwhere between demo and tutorial.
  .eight.columns
    %p In the past we've had workshops where BLAH BLAH BLAH
