---
title: What We Do
---

.row
  .twelve.columns
    %h4 The Meetings
    .row
      .eight.columns
        %p
          Meetings are on the third Tuesday of every month, and typically are a
          45-minute presentation by a member followed by discussion and demos. 
      .four.columns
        %p
          Following a meeting, we typically have a workshop the following
          Saturday on the same topic.
.row
  .twelve.columns
    %h4 The Workshops
    .row
      .four.columns
        %p
          In the past we've had workshops on applications like Django where
          participants help each other build small, completely functional
          projects in an afternoon.
      .eight.columns
        %p
          Workshops are hands-on followups to topics discussed at the monthly
          meetings. They typically start with a more in-depth demo than there was
          time for at the meeting.
